@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable< Shelby.Dnn.Dnn.Shelby.HelloWorld.Models.Item >>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<div id="Items-@Dnn.ModuleContext.ModuleId">
    <h1>Hello World by Shelby Company ltd.</h1>
</div>
